
.main-logo img {
    width: 400px;
}

header, footer {
    background-color: lightseagreen;
}

main {
    background-color: lightblue;
}

main, aside {
    box-sizing: content-box;
}

aside {
    background-color: lightcyan;
}

body {
    background-color: mintcream;
}

main, aside {
    padding: .6rem;
}

nav ul {
    list-style: none;
    margin-top: 40px;
}

nav ul li {
    margin-right: 2rem;
}

nav ul li a {
    color: darkblue;
}

nav ul li a:hover {
    color: darkblue;
}